:host {
  background-color: transparent;
}

nav {
  padding: 1em;
  box-sizing: border-box;
}

input {
  background-color: #fff;
  opacity: .3;
  border: 1px solid #eee;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.35rem;
}
