mat-toolbar {
  background-color: transparent;
  padding: 1em 1em;
}

input {
  background-color: #fff;
  opacity: .3;
  border: 1px solid #eee;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.35rem;
}
