<nav *ngIf="(pokemon$ | async) as pokemon"
     [fxLayout]="smallerScreen ? 'row wrap' : 'column'" fxLayoutAlign="center center">
  <button mat-icon-button (click)="getPreviousPokemon()">
    <mat-icon>{{ smallerScreen ? 'chevron_left': 'expand_less' }}</mat-icon>
  </button>
  <button mat-icon-button *ngFor="let number of idArray; let index = index"
          (click)="getPokemonById(pokemon.id + index)">
    {{ pokemon.id + index }}
  </button>
  <button mat-icon-button (click)="getNextPokemon()">
    <mat-icon>{{ smallerScreen ? 'chevron_right' : 'expand_more'}}</mat-icon>
  </button>
</nav>
