:host {
  height: 100%;
  padding: 2em;
  color: white;
}
section {
  height: 100%;
  width: 100%;
}
.pokemon-id {
  font-weight: 500;
  font-size: 3em;
}
.pokemon-name {
  font-weight: 500;
  font-size: 5em;
  line-height: 1em;
}
.pokemon-size {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.2em;
  span {
    font-weight: 400;
  }
}
.pokemon-stats {
  font-weight: 500;
  font-size: 3em;
}
.stats-container {
  border-left: 5px solid rgba(238, 238, 238, .5);
  border-radius: 4px;
  padding: 1em;
}
